
.product-form {
  max-width: 600px;
  margin: 0 auto;
}

.product-form .img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.button-container {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
}